@mixin primaryButton
 {
    height: 32px;
    background-color: rgba(102,126,234,1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 27px;
    padding: 24px;
}


@mixin primaryButtonSmall
 {
    height: 24px;
    background-color: rgba(102,126,234,1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    line-height: 21px;
    padding: 16px;
}


@mixin secondaryButton
 {
    height: 32px;
    background-color: rgb(221, 224, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(111, 116, 189);
    line-height: 27px;
    padding: 24px;
}

  

    
