@import './../../css/mixins.scss';

.emptyState {
    margin: auto;
}

.emptyStateText {
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.memberViewSvg {
    background: #D4D1EC;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(37 11 54 / 4%) 0px 2px 0px;
    border-radius: 0 10px 10px 0;
}

.eventsView {
    background: white;
    margin: 64px 0;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.memberEventsView {
    flex-grow: 1;
 
}

.snow {
    position: absolute;
}

.eventBtn {
    @include primaryButton;
}