.container {
    display: flex;
    flex-direction: column;
   // margin-top: 100px;
    h1 {
        font-size: 24px;
        font-weight: 600;
    }
}
.cardHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.centerPane {
    margin: auto;
    width: 1200px;
}

.marginBottom {
    margin-bottom: 20px;
}