.layoutContainer {
    min-height: 100vh;
}
.layoutContent {
    display: flex;
    flex-direction: column;
     padding: 24px;
}

.header {
   background: linear-gradient(
    294.17deg, rgb(47, 25, 55) 35.57%, rgb(69, 38, 80) 92.42%, rgb(69, 38, 80) 92.42%);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.title {
    color: #fff;
    font-size: large;
    font-weight: bold;
}

.logoContainer {
    display: flex;
    padding: 16px;
    justify-content: center;
    cursor: pointer;
}

.logoutBtn {
    color: #fff;
}

.layoutSider {
    background: #fff;
    border-right: 1px solid #e8e8e8;
}