.siteLayout {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    background: rgb(250, 249, 251);
    padding: 0 50px;
    margin-top: 64px;
}

.header {
   background: linear-gradient(
    294.17deg, rgb(47, 25, 55) 35.57%, rgb(69, 38, 80) 92.42%, rgb(69, 38, 80) 92.42%);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.title {
    color: #fff;
    font-size: large;
    font-weight: bold;
}

.logoContainer {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.logoutBtn {
    color: #fff;
}