.clapsCircle {
    border-radius: 34%;
    /* display: inline-block; */
    text-align: center;
    border: 1px solid green;
    cursor: pointer;
    padding: 4px;
    font-weight: 700;
    font-size: large;
    display: inline-flex;
}