.participatePage {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    //background: linear-gradient(135deg, rgb(122, 101, 230) 0%, rgb(248, 187, 206) 100%);

    :global .ant-tabs {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }  
    :global .ant-tabs-nav {
      padding: 16px;
    } 
    :global .ant-tabs-content-holder {
      width: 100vw;
      margin: auto; 
      margin-bottom: 16px; 
    }
}
.pageHeader {
      background: linear-gradient(135deg, rgb(122, 101, 230) 0%, rgb(248, 187, 206) 100%);
      color: white;
      position: fixed;
      width: 100%;
      z-index: 1;
      :global .ant-page-header-back-button{
        color: white;
      }
      :global .ant-page-header-heading-title {
        color: white;

      }
  
}
.participatePageContent {
  margin-top: 64px;
}
.backButton {
    position:fixed;
    top: 16px;
    left: 16px;
}
.participateCarousel {
  width: 800px;
  margin: auto;

  padding: 24px;
  :global .ant-card {     
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;

    &-actions {
      border-top: none;
    }
 }

  :global .ant-carousel .slick-dots {
    position: relative;
    bottom: -40px;
    li {
      height: 8px;
      button {
        background: linear-gradient(135deg, rgb(122, 101, 230) 0%, rgb(248, 187, 206) 100%);
        height: 12px;
      }
    }

  }
}
.header {
  position: fixed;
  width: 100%;
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
  }
  z-index: 1;
}

.eventInformation {
  width: 600px;
}

.eventInformation {
  width: 600px;
}

.eventInfo {
  width: 600px;
  margin: auto;
}