.layoutContainer {
    min-height: 100vh;
    @media only screen and (max-width: 768px) {
        flex-direction: unset;
      }
}
.layoutContent {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding: 24px;
    @media only screen and (max-width: 768px) {
        margin-left: 0px;
        width: 100% !important;
        margin-left: 84px;
    }
}
.layoutContentWithoutSider {
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.layoutInnerContainer {
    margin-top: 64px;
}

.header {
   background: linear-gradient(
    294.17deg, rgb(47, 25, 55) 35.57%, rgb(69, 38, 80) 92.42%, rgb(69, 38, 80) 92.42%);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   z-index: 1;
   width: 100%;
   height: 64px;
   padding: 8px 16px
}

.title {
    color: #fff;
    font-size: large;
    font-weight: bold;
}

.logoContainer {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.logoutBtn {
    color: #fff;
}

.layoutSider {
    background: #fff;
    border-right: 1px solid #e8e8e8;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 10;
}

.backButton {
    margin-right: 8px;
}