.createQuestionBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.questionCards {
    margin-bottom: 16px;
    :global .ant-card-head {
        border-bottom: none;
    }
    :global .ant-card-actions > li {
       text-align: right;
       padding: 8px;
    }
}
