.videoPreview {
    display: grid;
    justify-content: center;
    margin: 16px 0px;
    :global .embed-top-bar_embedTopSection_3VD {
        display: none;
    }
    min-height: 400px;
    @media only screen and (max-width: 768px) {
        min-height: 200px;
    }
}